<div class="container py-5">
  <form class="row mb-5 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label class="visually-hidden" for="wish-text">Wish</label>
      <input
        type="text"
        class="form-control"
        id="wish-text"
        [(ngModel)]="newWishText"
        name="new-wish-text"
      />
    </div>
    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="$event.preventDefault(); addNewWish()"
      >
        Add Wish
      </button>
    </div>
  </form>

  <div class="row mb-3">
    <div class="col-sm-2">
      <select
        class="form-select"
        [(ngModel)]="listFilter"  
      >
        <option value="0">All</option>
        <option value="1">Unfulfilled</option>
        <option value="2">Fulfilled</option>
      </select>
    </div>
  </div>

  <h3>{{ title }}</h3>
  <div *ngIf="visibleItems.length === 0; else listItems">
    <p class="text-muted">There are no wishes to display...</p>
  </div>

  <ng-template #listItems>
    <ol class="wish-list">
      <li *ngFor="let wish of visibleItems; index as i">
        <div class="form-check">
          <label class="form-check-label">
            <input
              class="checkbox"
              type="checkbox"
              [checked]="wish.isComplete"
              [attr.data-index]="i"
              (click)="toggleWish(wish)"
            />
            {{ wish.wishText }}
          </label>
        </div>
      </li>
    </ol>
  </ng-template>
</div>
